{% extends 'index.html' %}

{% block main %}

<div class="my-gallery">
{% for p in productos %}
    <div class="card my-card" >
        {% load static %}
        <img src="{% static 'img/'|add:p.image %}" alt="{{ p.title }}">
        <div class="card-body my-card-body">
            <h5 class="card-title">{{ p.title }}</h5>
            <p class="card-text">{{ p.description }}</p>
            <p class="price">{{ p.price }}</p>
            {% if user.is_authenticated %}
            <div class="rating">
                <div class="star_rating" data-id={{p.id}}>
                </div>
                <span class="rating_count">
                </span>
            </div>
            {% endif %}
        </div>
    </div>

{% endfor %}  
</div>

{% endblock %}