.navbar-brand, .btn, .nav-link {
    color: #fff;
}

.navbar {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #3A8D82;
}

.navbar-brand, .btn, .nav-link {
    color: #fff;
}

form > button.btn {
    background-color: #58D68D;
}

form > button.btn:hover {
    background-color: #58D68D;
}

form > button.btn:focus {
    background-color: #71ca96;
}
